ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
li {
  font-weight: bold;
}
section {
  margin-top: 3rem;
}