
    <div class="row">
        <div class="col-6 text-end">
        <ul class="no-bullets">
            <li><i class="fas fa-server"></i> Adminer:</li>
            <li><i class="fas fa-server"></i> Nginx upstream:</li>
            <li><i class="fas fa-user-lock"></i> Django CMS:</li>
            <li><i class="fas fa-plug"></i> RestAPI:</li>
        </ul>
        </div>
        <div class="col-6">
        <ul class="no-bullets">
            <li><a href="http://127.0.0.1:8080/">http://127.0.0.1:8080/</a></li>
            <li><a href="https://127.0.0.1:4433/">https://127.0.0.1:4433/</a></li>
            <li><a href="https://127.0.0.1:4433/admin/">https://127.0.0.1:4433/admin/</a></li>
            <li><a href="https://127.0.0.1:4433/admin/">https://127.0.0.1:4433/api/</a></li>
        </ul>
        </div>
    </div>
       