
{% extends 'core/base.html' %}
{% load static %}


{% block page %}
    <title>Django online</title>

    <section>
        <div class="container">

            {% block header %}
                {% include 'core/components/header.html' %}
            {% endblock header %}        
            <hr>
            {% block services %}
                {% include 'core/components/services.html' %}
            {% endblock %}
            <hr>
            {% block packages %}
                {% include 'core/components/packages.html' %}
            {% endblock %}
            <hr>
            {% block footer %}
                {% include 'core/components/footer.html' %}
            {% endblock %}

        </div>
    <section>
{% endblock page %}